# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Saturn/.vs/Saturn/v16
/Saturn/Debug
/Saturn/x64/Debug
/Saturn/Release
/Saturn/x64/Release
/Saturn/token.txt
